# Task for SQL DML session

Load this dataset in your database and perform below given tasks.

DataSet - https://docs.google.com/spreadsheets/d/e/2PACX-1vRa1wWwXmzxEvqITxj4OQTeLywlGTTsOTbhSRqKj2lPuGefjlci-DQhgLBPpgWXe8AAUu2WUBqY59X1/pub?gid=1030172542&single=true&output=csv

Look for data description

Kaggle - https://www.kaggle.com/datasets/thedevastator/insurance-claim-analysis-demographic-and-health?select=insurance_data.csv

### Perform the following queries

1. Show records of 'male' patient from 'southwest' region.
2. Show all records having bmi in range 30 to 45 both inclusive.
3. Show minimum and maximum bloodpressure of diabetic patient who smokes. Make column names as MinBP and MaxBP respectively.
4. Find no of unique patients who are not from southwest region.
5. Total claim amount from male smoker.
6. Select all records of south region.
7. No of patient having normal blood pressure. Normal range[90-120]
8. No of pateint belo 17 years of age having normal blood pressure as per below formula -
    - BP normal range = 80+(age in years × 2) to 100 + (age in years × 2)

    - Note: Formula taken just for practice, don't take in real sense.
9. What is the average claim amount for non-smoking female patients who are diabetic?
10. Write a SQL query to update the claim amount for the patient with PatientID = 1234 to 5000.
11. Write a SQL query to delete all records for patients who are smokers and have no children.

In [ ]:
1. 

SELECT * FROM insurance.insurance_data
WHERE gender = 'male' AND region = 'southwest';

In [ ]:
2. 

SELECT * FROM insurance.insurance_data
WHERE bmi BETWEEN 30 AND 45;

In [ ]:
3. 

SELECT MIN(bloodpressure) AS 'MinBP', MAX(bloodpressure) AS 'MaxBP'
FROM insurance.insurance_data
WHERE diabetic = 'Yes' AND smoker = 'Yes';

In [ ]:
4.

SELECT COUNT(DISTINCT(PatientID))
FROM insurance.insurance_data
WHERE region !=  'southwest';

In [ ]:
5.

SELECT SUM(claim) 
FROM insurance.insurance_data
WHERE gender = 'male';

In [ ]:
6.

SELECT *
FROM insurance.insurance_data
WHERE region = 'southeast' OR region = 'southwest';

In [ ]:
7.

SELECT COUNT(*)
FROM insurance.insurance_data
WHERE bloodpressure BETWEEN 90 AND 120;

In [ ]:
8.

SELECT COUNT(*)
FROM insurance.insurance_data
WHERE age < 17 AND 
bloodpressure BETWEEN 80+(age * 2) AND 100+(age * 2);

In [ ]:
9.

SELECT AVG(claim)
FROM insurance.insurance_data
WHERE gender = 'female' AND smoker = 'No' AND diabetic = 'Yes';

In [ ]:
10.

UPDATE insurance.insurance_data
SET claim = 5000
WHERE PatientID = 1234;

In [ ]:
11.

DELETE FROM insurance.insurance_data
WHERE smoker = 'Yes' AND children = 0;